.backgroundimage{
    height: 100vh;
    background-image: url(../../../../assets/Images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    section{
        padding-top: 6%;
        display: flex;
        text-align: center;
        justify-content: center;
        // align-items: center;
        mat-card{
            width: 350px;
            padding: 20px;
            max-height:auto;
            .clcik__link{
                margin: 10px;
                font-size: 15px;
                color: #54667a;
                font-family: 'source sans pro','Helvetica Neue', Arial, Helvetica, sans-serif;
            }
            .form{
                mat-form-field,.btn{
                    width: 80%;
                }
                
                .btn{
                    background: #246569;
                    color: #fff;
                    margin-bottom: 10px;
                }
            } 
            .support{
                margin-top: 0;
                display: block;
                .img{
                    vertical-align: middle;
                    border-style: none;
                    padding: 10px;
                }

            }
        }
    }
    
}